

table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 50%;
  }
  
  /* td, th {
    width: 25%;
  } */

  .div-table {
    width: 80%;
    margin: 0 auto;
  }

  app-button{
    margin: 10px;
  }

  a:hover {
    cursor: pointer;
  }