button {
    width: auto;
    min-width: 150px;
    height: 35px;
    background-color: #0a2775;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
button:hover {
    cursor: pointer;
    background-color: #113597;
    
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: default;
}
