*{
    font-size: 18px;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

p {
    margin: 5px 0px;
}

small {
    color: red;
}

div {
    margin: 5px 0px;
}

input {
    width: 50vw;
}


