<section> 
    <h1>Bem-Vindo ao Sistema Petshow!</h1>
    <div class="quadros-menu">
         <a routerLink="/clientes">
             <div class="card-db">
                <span>Clientes</span>
                <fa-icon [icon]="faUsers" size="2xl"></fa-icon>
            </div>
         </a>
         <a routerLink="/clientes">
            <div class="card-db">
               <span>Estoque</span>
               <fa-icon [icon]="faBox" size="2xl"></fa-icon>
           </div>
        </a>
        <a routerLink="/clientes">
            <div class="card-db">
               <span>Serviços</span>
               <fa-icon [icon]="faMoneyCheck" size="2xl"></fa-icon>
           </div>
        </a>
    </div>
</section>
   

