section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
}

a {
     text-decoration: none;
}

span{
    margin: 10px;
}

.quadros-menu {
    width: 80vw;
    display: flex;
    justify-content: space-between;
}

.card-db {
    width: 300px;
    height: 100px;
    border-radius: 5px;
    /* border: 1px solid rgb(83, 80, 80); */
    background-color: #338fa8;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
}